.ActiveQuiz {
  padding: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 10 px;
  box-sizing: border-box;
}

.Question {
  display: flex;
  justify-content: space-between;
}
