.AnswersItem {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.AnswersItem:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease-in-out;
}

.AnswersItem.success {
  background: rgba(161, 240, 60, 0.7);
}
.AnswersItem.error {
  background: rgba(240, 87, 108, 0.7);
}
