.FinishQuiz {
  color: white;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto;
}
.FinishQuiz ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.FinishQuiz ul li i {
  margin-left: 10px;
}

.success {
  color: rgba(161, 240, 60, 0.7);
}
.error {
  color: rgba(240, 87, 108, 0.7);
}
